@model BusinessManagementSystem.Models.AdvancePayment
<h4>Advance Payment Request</h4>
<hr />

<form asp-action="Edit" method="post" enctype="multipart/form-data" asp-controller="AdvancePayment">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="guid" />
    <div class="col-md-12">
        <div class="card card-outline card-dark">

            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <label asp-for="UserId" class="control-label"></label>
                        @if (User.IsInRole("superadmin") || User.IsInRole("admin_tattoo"))
                        {
                            @Html.DropDownListFor(model => model.UserId, (SelectList)ViewBag.AdvancePaymentSelectList["ArtistList"], new { @class = "form-control" })
                        }
                        else
                        {
                            @Html.DropDownListFor(model => model.UserId, (SelectList)ViewBag.AdvancePaymentSelectList["Artist"], new { @class = "form-control" })
                        }
                        
                        <span asp-validation-for="UserId" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="Amount" class="control-label"></label>
                        <input asp-for="Amount" class="form-control" />
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="Reason" class="control-label"></label>
                        <input asp-for="Reason" class="form-control" />
                        <span asp-validation-for="Reason" class="text-danger"></span>
                    </div>
                    @if (User.IsInRole("superadmin"))
                    {
                        <div class="col-md-4">
                            <label asp-for="PaymentMethod" class="control-label"></label>
                            @Html.DropDownListFor(model => model.PaymentMethod, (SelectList)ViewBag.AdvancePaymentSelectList["PaymentMethod"], "--Select--", new { @class = "form-control" })
                            <span asp-validation-for="PaymentMethod" class="text-danger"></span>
                        </div>
                        <div class="col-md-4">
                            <label asp-for="Status" class="control-label"></label>
                            @Html.DropDownListFor(model => model.Status, (SelectList)ViewBag.AdvancePaymentSelectList["Status"], new { @class = "form-control" })
                            <span asp-validation-for="Status" class="text-danger"></span>
                        </div>
                    }
                </div>
                <div class="row">
                    <div class="col-md-3">
                        @if (Model.Status == false)
                        {
                            @if (User.IsInRole("superadmin"))
                            {
                                <input type="submit" id="btnAdvancePaymentSubmit" value="Pay" class="btn btn-success my-button" />
                            }
                            else
                            {
                                <input type="submit" id="btnAdvancePaymentSubmit" value="Apply" class="btn btn-success my-button" />
                            }
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>